// Provides a base icon set for html page.



// development:
@use "node_modules/@heymarco/scss-utils/index" as *;

// production:
// @use "../../../node_modules/@heymarco/scss-utils/index" as *;



$alias          : "%icon-base"                              !default;
$class          : "span.icon, div.icon"                     !default;
$var-root       : ":root"                                   !default;
$var-prefix     : "icon"                                    !default;
$cssvar: cssvar($var-prefix);

$display        : inline-block                              !default;
$vertical-align : middle                                    !default;

$color          : currentColor                              !default;

$size           : var(#{$cssvar}size-normal)                !default;
$size-small     : 18px                                      !default;
$size-normal    : 24px                                      !default;
$size-medium    : 36px                                      !default;
$size-large     : 48px                                      !default;



@if (str-not-empty($var-root)) { @include selector($var-root) {
    /* #{$alias} var */

    #{$cssvar}color                 : #{$color};

    #{$cssvar}size                  : #{$size};
    #{$cssvar}size-small            : #{$size-small};
    #{$cssvar}size-normal           : #{$size-normal};
    #{$cssvar}size-medium           : #{$size-medium};
    #{$cssvar}size-large            : #{$size-large};
}}



@mixin style {
    display                 : $display;
    vertical-align          : $vertical-align;
}
@include declare-alias-class($alias, $class) { @include style; }