// Provides a common icon set for html page using "image based icon".



@use "dependencies" as *;
@use "sass:string" as string;
@use "sass:map" as map;

@use "base" as base;



$alias          : "%icon-image"                             !default;
/*sub*/$class   : ".img"                                    !default;
$var-root       : base.$var-root                            !default;
$var-prefix     : "img"                                     !default;
$var-prefix: part-combine(base.$var-prefix, $var-prefix);
$cssvar: cssvar($var-prefix);

// development:
// $path           : "./icons/"                                !default;

// production:
$path           : "./node_modules/@heymarco/icon/icons/"    !default;

$items          : (
 /* filename    | ratio */
    document    : 1.00,
    form        : 1.00,
    instagram   : 1.00,
    whatsapp    : 1.00,
)                                                           !default;
$ext            : svg                                       !default;
$ratio-default  : 1                                         !default;

$items-n: ();
@each $item, $ratio in $items {
    $item-n: normalize-class($item);
    $items-n: map.merge($items-n, ($item-n: $ratio));
}



@if (str-not-empty($var-root)) { @include selector($var-root) {
    /* #{$alias} var */

    #{string.slice($cssvar, 1, -2)} : linear-gradient(transparent, transparent); // literally no image
    // #{$cssvar}path                  : $path;
    #{$cssvar}ratio                 : $ratio-default;
}}



/* begin: item-specific (-specific) style */
@mixin style-of($item) {
    $item-n: normalize-class($item);
    @if (not map.has-key($items-n, $item-n)) { @error "#{$item} is not found."; }
    
    #{string.slice($cssvar, 1, -2)} : url("#{$path}#{$item}.#{$ext}");

    $ratio: map.get($items-n, $item-n);
    @if (($ratio < $ratio-default) or ($ratio > $ratio-default)) { #{$cssvar}ratio: $ratio; }
}
@each $item-n, $ratio in $items-n {
    #{$alias}-#{$item-n}  { @include style-of($item-n); }
}
/* end: item-specific (-specific) style */


/* begin: item-any (-) style */
@mixin style-any {
    @each $item-n, $ratio in $items-n { @include selector("&.#{$item-n}") {
        @include style-of($item-n);   // import item-specific style
    }}
}
#{$alias}- {
    @each $item-n, $ratio in $items-n { @include selector("&.#{$item-n}") {
        @extend #{$alias}-#{$item-n}; // import item-specific style
    }}
}
/* end: item-any (-) style */



/* begin: basic (--) style */
@mixin style-basic {
    height                  :      var(#{base.$cssvar}size);
    width                   : calc(var(#{base.$cssvar}size) * var(#{$cssvar}ratio));
    
    background-color        : var(#{base.$cssvar}color);
    
    
    mask-image              : var(#{string.slice($cssvar, 1, -2)});
    mask-size               : contain;
    mask-repeat             : no-repeat;
    mask-position           : center;
    
    -webkit-mask-image      : var(#{string.slice($cssvar, 1, -2)});
    -webkit-mask-size       : contain;
    -webkit-mask-repeat     : no-repeat;
    -webkit-mask-position   : center;
}
#{$alias}-- { @include style-basic; }
/* end: basic (--) style */

@mixin style {
    @include style-basic;   // import basic (--) style

    @include style-any;     // import item-any (-) style
}
@include declare-alias-base-class($alias, base.$class, $class) {
    @extend #{$alias}--;    // import basic (--) style

    @extend #{$alias}-;     // import item-any (-) style
}